@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Barlow", sans-serif;
	background-color: #e8e8e8;
	color: rgb(65, 65, 65);
}

/* head */

.background {
	background: url("images/bg1.jpg") no-repeat;
	background-size: cover;
	background-position-y: center;
	height: 200px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;
}
h1 {
	position: absolute;
	top: 30%;
	color: #d3d3d3;
	font-size: 40px;
}
#add-btn {
	margin-bottom: -30px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#add-btn .enter-btn {
	min-height: 76px;
	border: none;
	background-color: #43973c;
	border-radius: 10px;
	font-size: larger;
	color: white;
	cursor: pointer;
	padding: 20px 60px;
	transition: 0.3s;
}
#add-btn .enter-btn:hover {
	background-color: #58b150;
}
/* popups */

#popups {
	position: absolute;
	top: 0;
	z-index: 9;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#newnote-popup {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 50%;
	padding: 30px;
	box-shadow: 0 0 40px rgb(112, 112, 112);
	position: relative;
}
#newnote-title {
	min-height: 40px;
}
#newnnewtodoote-description {
	min-height: 80px;
}
#newnote-popup button {
	background-color: #43973c;
	border: none;
	color: white;
	padding: 15px;
	margin-top: 20px;
	cursor: pointer;
}

#newnote-popup button:hover {
	background-color: #59b651;
}
#newnote-popup img {
	width: 25px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}
#newtodo-popup {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 50%;
	padding: 30px;
	position: relative;
	box-shadow: 0 0 40px rgb(112, 112, 112);
}
#newtodo-title {
	min-height: 40px;
}
#newtodo-description {
	min-height: 80px;
}
#newtodo-popup button {
	background-color: #43973c;
	border: none;
	color: white;
	padding: 15px;
	margin-top: 20px;
	cursor: pointer;
}

#newtodo-popup button:hover {
	background-color: #59b651;
}
#newtodo-popup img {
	width: 25px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}
/* body */

#todo-note {
	max-width: 1200px;
	position: relative;
	margin: auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 50% 50%;
}

/* to do */

.todo-list {
	grid-column: 1 / 2;
}
.todo-list .todo {
	min-height: 40px;
	background-color: white;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	position: relative;
	display: flex;
	transition: box-shadow 0.3s;
}
.todo-list .todo:hover {
	box-shadow: 0 0 10px rgb(189, 189, 189);
}
.todo-list .todo .todo-text {
	max-width: 80%;
	word-wrap: break-word;
}
.todo-list .todo-btns {
	position: absolute;
	right: 0;
	margin-right: 9px;
}
.todo-list button {
	border: none;
	padding: 5px 8px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
}
.todo-list img {
	width: 20px;
}

.todo-list .done-btn {
	background-color: #44973ccb;
	transition: 0.3s;
}
.todo-list .done-btn:hover {
	background-color: #6dc764cb;
}
.todo-list .delete-btn {
	background-color: #e93c3cd2;
	transition: 0.3s;
}
.todo-list .delete-btn:hover {
	background-color: #f05757d2;
}

/* note */

.note-list {
	grid-column: 2 / 3;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.note-list .note {
	width: 40%;
	max-height: 200px;
	min-height: 100px;
	background-color: white;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	position: relative;
	overflow-y: auto;
	transition: box-shadow 0.3s;
}
.note-list .note:hover {
	box-shadow: 0 0 10px rgb(189, 189, 189);
}
.note-list .note::-webkit-scrollbar {
	width: 5px;
}
.note-list .note::-webkit-scrollbar-track {
	background-color: rgb(230, 230, 230);
	border-radius: 50px;
}
.note-list .note::-webkit-scrollbar-thumb {
	background-color: rgb(199, 199, 199);
	border-radius: 50px;
}

.note-list .note .note-title {
	text-align: center;
	background-color: rgb(236, 236, 236);
	padding: 8px 0;
	margin-bottom: 5px;
	border-radius: 10px;
	color: rgb(88, 88, 88);
	word-wrap: break-word;
}
.note-text {
	word-wrap: break-word;
}
.note-list button {
	border: none;
	padding: 5px 8px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
}
.note-list .note-btns {
	position: absolute;
	right: 0;
	bottom: 10px;
	margin-right: 9px;
}
.note-list img {
	width: 20px;
}

.note-list .delete-btn {
	background-color: #e93c3cd2;
	transition: 0.3s;
}
.note-list .delete-btn:hover {
	background-color: #f05757d2;
}
/* copy right */

.copyright {
	text-align: center;
	margin: 15px;
	color: rgb(68, 68, 68);
}
.copyright a {
	text-decoration: none;
	color: rgb(17, 17, 17);
}
@media screen and (max-width: 840px) {
	.note-list .note {
		width: 100%;
	}
}
@media screen and (max-width: 570px) {
	#add-btn .enter-btn {
		font-size: 14px;
		padding: 0px 28px;
		min-height: 64px;
	}
	#todo-note {
		grid-template-columns: 100%;
	}
	.note-list {
		grid-column: 1 / -1;
	}
	.todo-list {
		grid-column: 1/-1;
	}
}
@media screen and (max-width: 480px) {
	.note-list .note {
	}
}